@model  CarServiceMVCProject.Models.ApplicationUser
@{
    ViewBag.Title = "NEW CUSTOMER";
}

<h2>New customer</h2>

@using (Html.BeginForm())
{
<div style="color: white">
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
  <br />
    @Html.HiddenFor(m => m.Id)
    <button class="btn btn-primary glyphicon glyphicon-pencil " type="submit">Save</button>
    
</div>

}


