@model  CarServiceMVCProject.Models.Car
@{
    ViewBag.Title = "NEW CAR";
}

<h2 style="color:white">New Car</h2>

 @using (Html.BeginForm("EditCar", "Home"))
{
<div class="form-group" style="color:white">
    <div class="form-group">
        @Html.LabelFor(m => m.VIN)
        @Html.TextBoxFor(m => m.VIN, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.VIN, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Model)
        @Html.TextBoxFor(m => m.Model, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Model, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Style)
        @Html.TextBoxFor(m => m.Style, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Style, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Company)
        @Html.TextBoxFor(m => m.Company, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Company, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Color)
        @Html.TextBoxFor(m => m.Color, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Color, "", new { @class = "text-danger" })
    </div>
</div>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ApplicationUserId)
    @Html.ValidationSummary()
    <button class="btn btn-primary" type="submit">Save</button>
}


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}